date.timezone = UTC

; http://php.net/session.cookie-httponly
session.cookie_httponly = true
session.hash_function = 12
session.hash_bits_per_character = 5
session.cookie_secure = true

; http://php.net/expose-php
expose_php = Off

; disable file uploads
file_uploads = Off
